[Unit] 
Description=EC2 Instance Initialization Script
After=postfix.service

[Service] 
ExecStart=/usr/bin/ec2-init.py

[Install] 
WantedBy=multi-user.target 
